<style>
html {
  background-color: #1D1C1C
}

h1, p, h2 {
  color: #FCFAF1
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px
}

.section-first {
  display: flex;
  flex-direction: column;
}

input[type=submit]{
  background-color: transparent;
  border: 2px solid #FCFAF1;
  border-radius: 20px;
  padding: 15px;
  color: #FCFAF1;
  margin: 10px;
}

input[type=file]{
  background-color: transparent;
  border: 2px solid #FCFAF1;
  border-radius: 20px;
  padding: 15px;
  color: #FCFAF1;
  margin: 10px;
}

input[type=submit]:hover {
  background-color:  #FCFAF1;
  color: #1D1C1C;
  cursor: pointer
}

.miniature {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.miniature img {
  margin: 5px;
}
</style>

<div class="container">
  <div class="section-first">
    <h1>Megaupload</h1>

    <form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
      <h2>Veuillez sélectionner votre image:</h2>
      <div><input id="file-picker" type="file" name="image"></div>
      <div><input type="submit" value="Importer votre image"></div>
    </form>
  </div>
</div>
<p id="message">{{message}}</p>
<h2>Miniature générée</h2>
<hr>
<div class="miniature">
  {{#each this.thumbnails}}
    <img src="https://{{../accountName}}.blob.core.windows.net/images/{{name}}" height='200' width='200'>
  {{/each}}
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an image to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>